<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="Week7-Assignment">
                
        <wb-resource deploy-path="/" source-path="/webapp" tag="defaultRootSource"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                
        <property name="java-output-path" value="/Week7-Assignment/build/classes"/>
        <property name="context-root" value="Week7-Assignment"/>
            
    </wb-module>
    
</project-modules>
